.venv/
__pycache__/
*.pyc

frontend/node_modules/
frontend/dist/
istio-1.30.3/bin/istioctl

# Local binaries
kubeseal-0.24.0-linux-amd64.tar.gz

# Kubernetes plain secrets
secret.yaml
docker-secret.yaml
